PORT = 3000

#redis config
REDIS_HOST=redis
REDIS_PORT=6379

SECRET_JWT=SECRET_JWT

MAILER_EMAIL=EMAIL
MAILER_PASSWORD=PASSWORD
MAILER_PORT=PORT

API_DOC_URL=http://localhost:3000
USERMANAGE_API=https://salesorder.pclholding.com/api

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# connect to database using on localhost

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://root:root@postgreSql:5432/templete?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://root:root@postgreSql:5432/templete"